* {
    margin: 0;
    padding: 0;
  }
  html {
    font-family: "Poppins", sans-serif;
    color: #282938;
  }
  a {
    text-decoration: none;
    color: #000000;
  }
  ul,
  ol {
    list-style: none;
  }
  .fixed{
    position: fixed;
    bottom: 40px;
    right: 40px;
  }
  .sticky{
    position: sticky;
    top: 30px;
  }
  .main__header {
    background-color: #1c1e53;
    color: white;
    position: fixed;
    width: 100%;
    padding: 25px 0 25px 35px;
  }
  .main__header nav{
    display: inline-block;
    width: 80%;
    padding-left: 40px;
    text-align: end;
  }
  .main__header ul{
    font-size: 0;
  }
  .main__header ul li{
    display: inline-block;
    width: 10%;
    position: relative;
  }
  .main__header ul ul{
    display: none;
    position: absolute;
    background-color: #2405F2;
    width: 70px;
    padding-left: 15px;
    padding-bottom: 15px;
  }
  .main__header ul ul li{
    display: block;
  }
  .main__header ul li:hover ul{
    display: block;
  }
  .main__header__nav-button{
    border: 1px solid white;
    border-radius: 41px;
    padding: 10px 15px;
    margin-left: 20px;
  }
  
  .main__header__nav a {
    color: #BBBBCB;
    font-size: 1rem;
    font-weight: 500;
  }
  .main__header__nav a.active {
    color: white;
  }
  .main__principal {
    background-color: #1c1e53;
    color: white;
    padding: 140px 30px 50px;
  }
  .main__principal__wrapper{
    width: 40%;
    overflow: hidden;
    display: inline-block;
  }
  .main__principal__wrapper-title {
    font-style: normal;
    font-size: 54px;
    text-align: center;
    font-weight: 700;
    line-height: 1.6;
  }
  .main__principal__wrapper-paragraph {
    font-size: 1rem;
    font-weight: 400;
  }
  .main__principal__wrapper-cta {
    background-color: #fcd980;
    color: #1c1e53;
    font-size: 18px;
    width: 230px;
    padding: 15px 0;
    border-radius: 41px;
    text-align: center;
  }
  .main__principal__img{
    width: 45%;
    display: inline-block;
  }
  .our__work {
    background-color: #f4f6fc;
  }
  .our__work__wrapper__title{
    font-size: 48px;
    font-weight: 600;
  }
  .our__work__wrapper__paragraph{
    font-size: 1rem;
    font-weight: 400;
  }
  .our__work__wrapper__link{
    font-size: 18px;
    color: #2405F2;
    font-weight: 500;
  }
  .our__work__cards-card{
    width: 328px;
    height: 178px;
  }
  .our__work__cards-card-title{
    font-size: 32px;
    font-weight: 500;
  }
  .our__work__cards-card-paragraph{
    font-size: 1rem;
    font-weight: 400;
  }
  .our__proyects__title{
    font-size: 48px;
    font-weight: 600;
  }
  .our__proyects__one{
    width: 843px;
    height: 600px;
    background-image: url("../img/proyecto1.jpg");
  }
  .our__proyects__one__wrapper{
    background: linear-gradient(329.39deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
    color: white;
    height: 100%;
    width: 396px;
  }
  .our__proyects__one__wrapper-title{
    font-size: 24px;
    font-weight: 600;
  }
  .our__proyects__one__wrapper-link{
    color: #FCD980;
    font-weight: 500;
  }
  .features{
    background-color: #F4F6FC;
  }
  .features__subtitle{
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
  }
  .features__title{
    font-weight: 600;
    font-size: 600;
    line-height: 64px;
    text-align: center;
  }
  .features__wrapper__card{
    background-color: white;
    width: 405px;
    height: 316px;
    border-radius: 30px;
    margin-left: 30px;
  }
  .features__wrapper__card-title{
    font-size: 24px;
    font-weight: 500;
  }