* {
  margin: 0;
  padding: 0;
}

.body {
  background: #747c8c;
}

body {
  background: #1d202b;
  color: #fff;
  font-family: "Roboto", sans-serif;
}
/* inicio pag contactos*/
/* fin pag contactos*/
.pag_contactos{
  background: #171c26;
  color: #e4e6e9;
}
/*inicio pag nosotros */
.pag_nosotros {
  background: #171c26;
  color: #e4e6e9;
}
.titulo {
  font-size: 24px;
  padding: 20px 0;
}
.contenedor_nosotros {
/*  width: 100vw;
  max-width: 1200px;
  margin: auto;
  grid-template-columns: repeat(2, 1fr);
 
 display: grid; 
  padding: 400px 0px;
  gap: 97px 140px;*/
}

.card_nosotros {
  border-radius: 10px;
  min-height: 200px;
  font-weight: bold;
 padding: 20px;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
}

.textos_nosotros {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #171c26;
}


.card_nosotros:hover {
  transform: scale(1.3);
  border-radius: 30px;
  transition: all 2s;
}
/*fin pag nosotros */
/*inicio pag servicios */
.pag_servicios {
  background: #171c26;
  color: #e4e6e9;
}
.titulo {
  font-size: 24px;
  padding: 20px 0;
}
.contenedor_servicios {
/*  width: 100vw;
  max-width: 1200px;
  margin: auto;
  grid-template-columns: repeat(2, 1fr);
 
 display: grid; 
  padding: 400px 0px;
  gap: 97px 140px;*/
}

.card_servicios {
  border-radius: 10px;
  min-height: 200px;
  font-weight: bold;
 padding: 20px;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
}

.textos_servicios {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #171c26;
}


.card_servicios:hover {
  transform: scale(1.3);
  border-radius: 30px;
  transition: all 2s;
}
.boton_saber_mas {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 1190px;
  top: 1117px;
  border: #fe4461;
  background: #fe4461;
  box-shadow: 0px 10px 32px 8px rgba(0, 0, 0, 0.38);
  border-radius: 50px;
  text-align: center;
  align-items: center;
}
/*fin pag servicios */

a {
  text-decoration: none;
}

.html {
  font-family: "Roboto", sans-serif;
}

.fixed {
  position: fixed;
  bottom: 40px;
  right: 40px;
}
/* inicio de menu de navegacion*/
.main__header {
  background: linear-gradient(
    180deg,
    #0d0d0d 19.79%,
    #575757 54.17%,
    rgba(162, 162, 162, 0.58) 79.69%,
    rgba(255, 255, 255, 0) 100%
  );
  position: fixed !important;
  display: grid;
  width: 100vw;
  background-blend-mode: multiply;
  grid-template-columns: 24% auto;
  align-items: center;
  z-index: 2;
}
.inicio_icons {
  list-style-image: url(../img/inicio_icons.svg);
}
.nosotros_icons {
  list-style-image: url(../img/nosotros_icons.svg);
}
.servicios_icons {
  list-style-image: url(../img/servicio_icons.svg);
}
.proyectos_icons {
  list-style-image: url(../img/proyecto_icons.svg);
}
.contactos_icons {
  list-style-image: url(../img/contacto_icons.svg);
}
.main {
  font-size: 0;
}
.main__header ul li {
  width: 16%;
  padding-left: 0%;
}
.main__header a {
  color: white !important;
}
.main_header_nav {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0 2%;
}
.main__header ul {
  font-size: 1;
}
div.dropdown-menu {
  display: none;
  position: absolute;
  width: 70px;
  padding-left: 20px;
  padding-bottom: 30px;
  text-align: center;
  background: linear-gradient(
    180deg,
    #0d0d0d 19.79%,
    #575757 54.17%,
    rgba(162, 162, 162, 0.58) 79.69%,
    rgba(255, 255, 255, 0) 100%
  );
  background-blend-mode: multiply;
}
.dropdown-menu a {
  display: block !important;
}
.dropdown-menu a:hover ul {
  display: block !important;
}
.main__header ul li:nth-child(1) {
  border: 1px solid white;
  border-radius: 55px;
  padding: 0 162px;
  padding-left: 38px;
}
/*fin de menu de navegacion */
/* inicio de pie de pagina*/
.main__footer {
  width: 100vw;
  height: 127px;
  background: #171c26;
}

.main__footer_contacto {
  width: 112%;
  height: 142px;
  background: #171c26;
  margin: 189px 361px 0 -72px;
  color: #e4e6e9;
}

.main__footer p {
  color: #e4e6e9;
  margin-bottom: 0%;
  margin: 0 0% 0% 2%;
}
.logo_footer {
  animation-name: logo_footer;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 4s;
  margin: 0 77% 0% 0%;
}
/* fin de pie de pagina*/

.main__title {
  font-style: normal;
  font-size: 3em;
  font-family: "Roboto";
  text-align: center;
  line-height: 1.6;
}
/*index inicio portada*/
.our_portada {
  width: 100%;
  height: 100%;
}

.boton_portada {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 754px;
  top: 534px;
  background: #0d0d0d;
  border-radius: 50px;
  text-align: center;
  align-items: center;
  color: aliceblue;
}

/*index fin portada*/
/*index inicio nosotros y servicios */
.nosotros_servicios {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-content: stretch;
  left: 69px;
  top: 51px;
  margin-top: -1%;
}

.nosotros_servicios h2 {
  color: #ffffff;
}

.nosotros_servicios p {
  color: #ffffff;
}

.sub_titulo_nosotros {
  color: #fe4461;
}

.sub_titulo_servicios {
  color: #0d0d0d;
}

.nosotros_servicios ul {
  color: #f2f2f2;
}

.nosotros {
  background: #171c26;
  text-align: left;
  width: 100%;
}

.lista_nosotros li {
  list-style: none;
  background-image: url(../img/icons_lista_nosotros.svg);
  background-repeat: no-repeat;
  padding: 1% 0 1% 4%;
  margin: 2%;
}

.nosotros_texto {
  margin-top: 50px;
  margin-left: 25px;
}

.nosotros_texto ul li {
  width: 100%;
}

.servicios {
  background: #747c8c;
  width: 100%;
}

.lista_servicios li {
  list-style: none;
  background-image: url(../img/icons_lista_servicio.svg);
  background-repeat: no-repeat;
  padding: 1% 0 1% 4%;
  margin: 2%;
}

.servicios_texto {
  margin-top: 50px;
  margin-left: 25px;
}
/* index fin nosotros y servicios */
/*index inicio proyectos*/
.proyectos_real {
  width: 100%;
  height: 100%;
}

.our__proyect__one_boton {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 763px;
  top: 1118px;
  border: #fe4461;
  background: #fe4461;
  box-shadow: 0px 10px 32px 8px rgba(0, 0, 0, 0.38);
  border-radius: 50px;
  text-align: center;
  align-items: center;
}
/*index fin proyectos*/
/*index inicio de contactos y datos extras*/
.contactos_principal {
  display: grid;
  margin-top: -1%;
}

.contactos {
  display: grid;
  flex-direction: row;
  align-content: stretch;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
}

.contactos p {
  color: #ffffff;
}

.contacto_programas {
  background: #fe4461;
  align-items: center;
  text-align: center;
  color: #171c26;
  width: 100%;
  height: 210px;
}

.contacto_programas:hover {
  transform: scale(1.3);
  border-radius: 30px;
  transition: all 1s;
}

.contacto_caracteristicas:hover {
  transform: scale(1.3);
  border-radius: 30px;
  transition: all 1s;
}

.contacto_galeria:hover {
  transform: scale(1.3);
  border-radius: 30px;
  transition: all 1s;
}

.contacto_recursos:hover {
  transform: scale(1.3);
  border-radius: 30px;
  transition: all 1s !important;
}

.contacto_caracteristicas {
  background: #171c26;
  text-align: center;
  text-align: center;
  color: #fe4461;
  width: 100%;
}

.contacto_galeria {
  background: #747c8c;
  text-align: center;
  text-align: center;
  color: #171c26;
  width: 100%;
}

.contacto_recursos {
  background: #0d0d0d;
  text-align: center;
  text-align: center;
  color: #fe4461;
  width: 100%;
}

.contacto_recursos:hover {
  transform: scale(1.3);
  border-radius: 30px;
}
/*index fin de contactos y datos extras*/
/* inicio de las animaciones*/
@keyframes logo_footer {
  0%,
  100% {
    transform: translate(-6px, -6px);
  }
  25% {
    transform: translate(6px, -6px);
  }
  50% {
    transform: translate(6px, 6px);
  }
  75% {
    transform: translate(-6px, 6px);
  }
}
/* fin de las animaciones*/
@media (max-width: 1440px) {
  .boton_portada {
    top: 448px;
    left: 604px;
  }
  .lista_nosotros li {
    padding: 4px 25px;
    margin: 6px 0 2px 183px;
  }
  .nosotros_texto {
    margin-top: 50px;
    margin-left: 25px;
  }
  .lista_servicios li {
    padding: 4px 25px;
    margin: 6px 0 10px 183px;
  }
  .servicios_texto {
    margin-top: 50px;
    margin-left: 25px;
  }
  .our__proyect__one_boton {
    left: 603px;
    top: 978px;
  }

/* inicio pag nosotros*/
  .contenedor_nosotros {
    gap: 97px 127px;
    }
    .contenedor_servicios {
      gap: 97px 127px;
      }
      .boton_saber_mas {
        left: 588px;
        top: 762px;
      }
      /* fin pag nosotros*/
}

@media (max-width: 1024px) {
  .boton_portada {
    top: 314px;
    left: 412px;
  }
  .lista_nosotros li {
    list-style: none;
    background-image: url(../img/icons_lista_nosotros.svg);
    background-repeat: no-repeat;
    padding: 4px 25px;
    margin: 6px 0 10px 99px;
  }
  .nosotros_texto {
    margin-top: 30px;
    margin-left: 34px;
  }
  .lista_servicios li {
    list-style: none;
    background-image: url(../img/icons_lista_servicio.svg);
    background-repeat: no-repeat;
    padding: 4px 25px;
    margin: 6px 0 10px 99px;
  }
  .servicios_texto {
    margin-top: 30px;
    margin-left: 34px;
  }
  .our__proyect__one_boton {
    top: 804px;
    left: 419px;
  }
  .contacto_programas:hover {
    transform: scale(1.3);
    border-radius: 30px;
  }
  .contacto_caracteristicas:hover {
    transform: scale(1.3);
    border-radius: 30px;
  }
  .contacto_galeria:hover {
    transform: scale(1.3);
    border-radius: 30px;
  }
  .contacto_recursos:hover {
    transform: scale(1.3);
    border-radius: 30px;
  }
/* inicio pag nosotros*/
  .contenedor_nosotros {
    gap: 61px 120px;
}
/* fin pag nosotros*/
/* inicio pag servicios*/
.contenedor_servicios {
  gap: 61px 120px;
}
.boton_saber_mas {
  left: 416px;
  top: 647px;
}
/* fin pag nosotros*/
}

@media (max-width: 768px) {
  .boton_portada {
    top: 230px;
    left: 283px;
  }
  .lista_nosotros li {
    list-style: none;
    background-image: url(../img/icons_lista_nosotros.svg);
    background-repeat: no-repeat;
    padding: 4px 25px;
    margin: 9px 0 10px 62px;
  }
  .nosotros_texto {
    margin: 9%;
  }
  .lista_servicios li {
    list-style: none;
    background-image: url(../img/icons_lista_servicio.svg);
    background-repeat: no-repeat;
    padding: 4px 25px;
    margin: 9px 0 10px 62px;
  }
  .servicios_texto {
    margin: 9%;
  }
  .our__proyect__one_boton {
    width: 199px;
    height: 42px;
    top: 764px;
    left: 293px;
  }
  .contacto_programas:hover {
    transform: scale(1.3);
    border-radius: 30px;
  }
  .contacto_caracteristicas:hover {
    transform: scale(1.3);
    border-radius: 30px;
  }
  .contacto_galeria:hover {
    transform: scale(1.3);
    border-radius: 30px;
  }
  .contacto_recursos:hover {
    transform: scale(1.3);
    border-radius: 30px;
  }

/*pag nosotros*/
.contenedor_nosotros {
  gap: 62px 88px;
}
/* fin pag nosotros*/
/* inicio pag servicios*/
.contenedor_servicios {
  gap: 62px 88px;
}
.boton_saber_mas {
  left: 290px;
  top: 577px;
}
/* fin pag nosotros*/
}

@media (max-width: 375px) {

  .main__header {
    background: #747c8c !important;
  }
  .main_header_nav {
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 15px;
    margin: 0% -19% 0%;
    background: #747c8c;
  }
  div.dropdown-menu{
    background:#0d0d0d ;
  }
  .main_header_nav li {
    padding-left: 20px;
    list-style: none;
  }
  .main {
    font-size: 0;
  }
  .main__header ul li {
    width: 16%;
  }
  .main__header a {
    color: white;
  }
  .our_portada {
    width: 100%;
    height: 100%;
    height: 280px;
  }
  .main__header ul {
    font-size: 1;
  }
  .main__footer {
    width: 100%;
    height: 140px;
  }
  .main__title {
    font-style: normal;
    font-size: 3em;
    font-family: "Roboto";
    text-align: center;
    line-height: 1.6;
  }
  .boton_portada {
    left: 95px;
    top: 254px;
  }
  .nosotros_servicios {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    left: 69px;
    top: 51px;
    margin-top: -1%;
  }
  .nosotros_servicios h2 {
    margin: 36px 42px;
  }
  .nosotros_servicios p {
    margin: 13px 133px 15px 15px;
  }
  .nosotros {
    height: 100%;
    text-align: left;
    width: 100%;
  }
  .lista_nosotros li {
    padding: 2% 0% 0% 8%;
    margin: 7% 16% 13%;
  }
  .nosotros_texto {
    margin-top: 50px;
    margin-left: 25px;
  }
  .nosotros_texto ul li {
    width: 100%;
  }
  .servicios {
    width: 100%;
  }
  .lista_servicios li {
    padding: 2% 0% 0% 8%;
    margin: 7% 16% 13%;
  }
  .servicios_texto {
    margin-top: 50px;
    margin-left: 25px;
  }
  .proyectos_real {
    width: 100%;
    height: 100%;
    height: 280px;
  }
  .our__proyect__one_boton {
    left: 95px;
    top: 1694px;
  }
  .contactos_principal {
    display: flex;
    margin-top: -1%;
  }
  .contactos {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    width: 100%;
  }
  .contactos p {
    margin: 48px;
  }
  .contacto_programas {
    width: 100%;
    height: 200px;
    height: 268px;
  }
  .contacto_caracteristicas {
    width: 100%;
    height: 268px;
  }
  .contacto_galeria {
    width: 100%;
    height: 268px;
  }
  .contacto_recursos {
    width: 100%;
    height: 268px;
  }
  .contacto_programas:hover {n
    transform: scale(1.3);
    border-radius: 30px;
  }
  .contacto_caracteristicas:hover {
    transform: scale(1.3);
    border-radius: 30px;
  }
  .contacto_galeria:hover {
    transform: scale(1.3);
    border-radius: 30px;
  }
  .contacto_recursos:hover {
    transform: scale(1.3);
    border-radius: 30px;
  }
/* inicio pag servicios*/
.boton_saber_mas {
    left: 93px;
    top: 982px;
}
/* fin pag servicios*/
}