* {
    margin: 0;
    padding: 0;
  }
  
  html {
    color: #fff;
    font-family: "Roboto", sans-serif;
  }
  
  .pag_contactos {
    background: #171c26;
    color: #e4e6e9;
  }
  
  html {
    color: #fff;
    font-family: "Roboto", sans-serif;
  }
