.main__header_proyectos {
  background: linear-gradient(
    180deg,
    #0d0d0d 19.79%,
    #575757 54.17%,
    rgba(162, 162, 162, 0.58) 79.69%,
    rgba(255, 255, 255, 0) 100%
  );
  width: 100vw;
  background-blend-mode: multiply;
  grid-template-columns: 24% auto;
  align-items: center;
  z-index: 2;
  & ul li {
    width: 16%;
    padding-left: 0%;
  }
  & a {
    color: white !important;
  }
  & ul {
    font-size: 1;
  }
  & ul li:nth-child(1) {
    border: 1px solid white;
    border-radius: 55px;
    padding: 0 162px;
    padding-left: 38px;
  }
  &_nav {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0 2%;
  }
}

.color_carusel {
  background-color: rgba(241, 10, 10, 0.356);
}
.texto_casusel {
  color: #171c26;
}
.card-header {
  @include box-shadow(5);
}

.card-section {
  @include box-shadow(5);
  &-first {
    background: #fe4461;
  }
  &-first:hover {
    transform: scale(1.1);
    transition: all 1s !important;
  }
  &-second {
    background: #747c8c;
  }
  &-second:hover {
    transform: scale(1.1);
    border-radius: 30px;
    transition: all 1s !important;
  }

  &-third {
    background: #0d0d0d;
  }
  &-third:hover {
    transform: scale(1.1);
    border-radius: 30px;
    transition: all 1s !important;
  }
}

